ul,li,body,h1,h2,h3,h4,h5,h6,p,span,img{
	margin: 0;
	padding: 0;
	list-style: none;
}
html{
	line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);
}
body{
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
img{
	border: 0;
}

body nav{
	background-color: #393B43;
	.nav-wrapper{
		padding: 0 30px;
	}
	ul{
		a:hover{
			background-color: #fff;
			color: #393B43;
		}
	}
}

@media screen and(max-width: 765px){
	#skills ul li span{
		font-size: 24px;
	}
	section h3{
		font-size: 35px;
	}
}
@media screen and(max-width: 765px){
	section h3{
		font-size: 26px;
	}
	#message .me p{
		font-size: 14px;
	}
}
#banner{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #9B7EB4;
	img{
		width: 100%;
	}
}
section{
	padding: 60px 0;
    width: 100%;
    box-sizing: border-box;
    h3{
    	text-align: center;
    }
}
#message{
	background: #76B852;
	h3{
		margin-bottom: 30px;
	}
	img{
		width: 70%;
	}
	.me{
		color: #000;
    	font-size: 18px;
    	p{
    		margin-bottom: 10px;
    		font-size: 18px;
    	}
	}
	.img-right{
		text-align: center;
	}
}
#skills{
	background: #E7D8B7;
	h3{
		margin-bottom: 30px;
	}
	li{
		padding: 20px 0;
		text-align: center;
		span{
			display: inline-block;
			font-size: 30px;
			padding-top: 20px;
		}
		a{
			width: 100%;
			height: 100%;
			display: block;
			text-align: center;
		}
		img{
			width: 30%;
		}
	}

}
#contact{
	position: relative;
	h3{
		margin-bottom: 30px;
	}
	ul{	
		width: 100%;
		text-align: center;
		&::before,&::after{
			display: block;
			clear: both;
			content: '';
		}
		li{
			text-align: left;
			padding: 10px 0;
			min-width: 300px;
			margin-left: 40%;
			@media screen and(max-width: 1000px){
				margin-left: 35%;
			}
			@media screen and(max-width: 800px){
				margin-left: 30%;
			}
			@media screen and(max-width: 600px){
				margin-left: 20%;
			}
			@media screen and(max-width: 500px){
				margin-left: 10%;
			}
			@media screen and(max-width: 350px){
				margin-left: 0;
			}
			a{
				text-align: left;
				display: inline-block;
				font-size: 20px;
				margin: 0 30px;
				span{
					margin-right: 10px;
					float: left;
					display: block;
					width: 30px;
					height: 30px;
				}
			}
			&:nth-child(1) span{
				background: url(../img/phone.png) no-repeat center center;
				background-size: cover;
			}
			&:nth-child(2) span{
				background: url(../img/email.png) no-repeat center center;
				background-size: cover;
			}
			&:nth-child(3) span{
				background: url(../img/weizhi.png) no-repeat center center;
				background-size: cover;
			}
			&:nth-child(4) span{
				background: url(../img/weibo.jpg) no-repeat center center;
				background-size: cover;
			}
		}
	}
}